<html>
<head>
  <title>goFilter</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Angular 1.6.x breaks stuff -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

  <script src="/javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-app="goFilter" ng-controller="MainCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
    </div>
  </div>


<!-- Home Template -->

  <script type="text/ng-template" id="/home.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>
  <a href="#/">Welcome</a>


  <div ng-repeat="post in posts | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(post)"></span>
    {{post.upvotes}}
    <span style="font-size:20px; margin-left:10px;">
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </span>
    <span>
  <a href="#/posts/{{post._id}}">Comments</a>
</span>
<span class="glyphicon glyphicon-trash"
  ng-click="deletePost(post)"></span>

  </div>

  <form ng-submit="addPost()"
    style="margin-top:30px;">
    <h3>Add a new post</h3>

    <div class="form-group">
      <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Link"
      ng-model="link"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
  </script>

<!-- Posts Template -->

  <script type="text/ng-template" id="/posts.html">
  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
    <a href="#/home">Back</a>
    <a href="#/">Welcome</a>

  </div>

  <div ng-repeat="comment in post.comments | orderBy:'-upvotes' ">

    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
    <span class="glyphicon glyphicon-trash"
      ng-click="deleteComment(comment)">
    </span>

  </div>
  <form ng-submit="addComment()"
   style="margin-top:30px;">
   <h3>Add a new comment</h3>

   <div class="form-group">
     <input type="text"
     class="form-control"
     placeholder="Comment"
     ng-model="body"></input>
   </div>
   <button type="submit" class="btn btn-primary">Post</button>
 </form>
</script>


<!-- Welcome Template -->

<script type="text/ng-template" id="/welcome.html">

    <div class="page-header">
        <h1>Welcome Page</h1>
    </div>

    <a href="#/home">Posts</a><br>
    <a href="#/submit">Submit Page</a><br>
    <a href="#/capture">Capture Page</a><br>

</script>

<!-- Submit Template -->

<script type="text/ng-template" id="/submit.html">

    <div class="page-header">
        <h1>Submit Page</h1>
    </div>

    <a href="#/home">Posts</a><br>
    <a href="#/submit">Submit Page</a><br>
    <a href="#/capture">Capture Page</a><br>

</script>

<!-- Capture Template -->

<script type="text/ng-template" id="/capture.html">

    <div class="page-header">
        <h1>Capture Page</h1>
    </div>

    <a href="#/home">Posts</a><br>
    <a href="#/submit">Submit Page</a><br>
    <a href="#/capture">Capture Page</a><br>

</script>

</body>
</html>
